.TweetsList {
    background-color: black;
}
.UserName {
    text-align: left;
    color: rgb(88, 87, 87);
}
.TweetID {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-top: 1px;
    max-width: 400px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
}
.TweetText {
    text-align: left;
}
.TweetTimeStamp { 
    font-size: 10px;
    text-align: right;
    color: rgb(63, 63, 63);
}